#!KAMAILIO

log_stderror=no
fork=yes
children=4
debug=3
log_stderror=yes
log_color=1
log_prefix="[$Tf] - "
log_facility=LOG_LOCAL0

loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "json.so"
loadmodule "ndb_redis.so"
loadmodule "app_lua.so"
loadmodule "dispatcher.so"
loadmodule "usrloc.so"
loadmodule "xlog.so"
loadmodule "textops.so"
loadmodule "registrar.so"
loadmodule "ctl.so"
loadmodule "pv.so"


# Redis
modparam("ndb_redis", "server", "name=reg_redis;addr=redis;port=6379;db=0")

# Lua
modparam("app_lua", "load", "/etc/kamailio/update_reg_redis.lua")

# Dispatcher (load balance para os 2 Asterisks)
modparam("dispatcher", "list_file", "/etc/kamailio/dispatcher.list")
modparam("dispatcher", "ds_ping_interval", 5)
modparam("dispatcher", "ds_probing_threshold", 2)

# Usrloc (memória - para teste)
modparam("usrloc", "db_mode", 0)


modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")
modparam("ctl", "mode", 0666)

# ====================== ROUTING ======================
request_route {
    if (is_method("REGISTER")) {
        if (save("location")) {
            xlog("update_registration");
            lua_run("update_registration");            
        }
        exit;
    }

    # Load balance das chamadas para Asterisk
    if (is_method("INVITE|BYE|ACK|CANCEL")) {
        ds_select_dst("1", "4");  # grupo 1 = round-robin
        t_relay();
        exit;
    }

    # Outros métodos
    if (!t_relay()) {
        sl_reply_error();
    }
}

event_route[usrloc:contact-expired] {
    xlog("update_registration");
    lua_run("update_registration");
}
